@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Indie+Flower&family=Pacifico&family=Shadows+Into+Light&display=swap');


// Colores

$color1: hsl(215, 51%, 70%); 
$color2: hsl(178, 100%, 50%);
$color3: hsl(217, 54%, 11%);
$color4: hsl(216, 50%, 16%);
$color5: rgb(47, 65, 91)0;
$color6: hsl(0, 0%, 100%);

// Font

// font-family: 'Outfit', sans-serif;
// font-family: 'Bebas Neue', sans-serif;
// font-family: 'Dancing Script', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Shadows Into Light', cursive;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: $color3;

    & .modal-content{
        background-color: hsl(217, 54%, 11%, 0.7);
        box-shadow: 0px 5px 20px $color6;
        color: $color6;

        & button {
            background-color: $color3;
            padding: 5px 10px;
            border: none;
        }

        & .table{
            color: $color6;

            & tbody{
                color: $color6;

                & .fotocarro{
                    width: 50px;
                    height: 50px;
                }
            }
        }

        & .modal-footer{
            position: relative;   

            & .btn{
                padding: 5px 10px;
                border-radius: 10px;
                box-shadow: 0px 3px 10px $color6;
                color: $color6;
            }

            & .terminarCompra{
                position: absolute;
                bottom: 12px;
                left: 12px;
            }
        }    
    }

    & header {
        height: 100px;
        padding: 0px 30px;
        border-bottom: 2px solid $color4;
        box-shadow: 0px 5px 20px $color6;        

        @media only screen and (min-width:660px){
            padding: 10px 70px 0px 50px;
        }
        @media only screen and (min-width:960px){
            padding: 10px 100px 0px 100px;
            height: 150px;
        }

        & .navbar{
            font-size: 25px;

            & a{
                color: $color1;
            }
            
            & .logo {
                color: $color1;
                font-size: 22px;
                font-family: 'Dancing Script', cursive;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                @media only screen and (min-width:960px){
                    font-size: 32px;
                }
            }
            
            & .carrito {
                font-size: 25px;
                position: relative;
    
                @media only screen and (min-width:660px){
                    font-size: 30px;
                }
    
                @media only screen and (min-width:960px){
                    font-size: 40px;
                }

                & button {
                    background-color: $color3;
                    padding: 5px 10px;
                    border: none;

                    & i{
                        position: absolute;
                        top:10px;
                        right: 0px;
                    }

                    & span{
                        font-size: 12px;
                        color: $color3;
                        font-weight: bold;
                        position: absolute;
                        top:10px;
                        right: 10px;

                        @media only screen and (min-width:960px){
                            font-size: 18px;
                            top:10px;
                            right: 15px;
                        }
                    }
                }
            }

            & .collapse{
                justify-content: right;
                padding-top: 25px;

                & .dropdown-menu{
                    background-color: $color3;
                    border-color: $color1;
                }
            }
        }        
    }

    & main {
        padding:50px 40px;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;

        & .tarjeta {
            width: 200px;
            min-height: 450px;
            padding: 16px;
            margin: 0;
            margin: 50px;
            background-color: $color4;
            border-radius: 8px;
            box-shadow: 0px 15px 25px rgb(0, 0, 0,0.15);

            & .imagen {
                width: 100%;
                height: 170px;
                border-radius: 8px;
                position: relative;

                & .coco {
                    width: 100%;
                    height: 170px;
                }

                & .icono {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: hsl(178, 100%, 50%, 35%);
                    transition: 1s;
                    opacity: 0;
                    position: absolute;
                    top: 0px;
                    border-radius: 8px;
                }

                & :hover {
                    opacity: 1;
                }    
            }

            & .texto1 {
                color: $color6;
                font-weight: 600;
                transition: .25s;
                margin-top: .8em;
                margin-bottom: .8em;
            }

            & .texto1:hover {
                cursor: pointer;
                color: $color2;
            }

            & .texto2 {
                color: $color1;
                font-weight: 300;
                font-size: .8em;
            }

            & .texto3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 1em;
                margin-bottom: 1em;

                & .izquierda {
                    display: flex;
                    flex-direction: row;
                    gap: .3em;
                    font-weight: 400;
                    font-size: .7em;
                    color: $color2;
                }

                & .centro {
                    display: flex;
                    flex-direction: row;
                    gap: .3em;
                    font-weight: 400;
                    font-size: .7em;
                    color: $color2;
                }

                & .derecha {
                    display: flex;
                    flex-direction: row;
                    gap: .3em;
                    font-weight: 400;
                    font-size: .7em;
                    color: $color1;
                }
            }

            & hr {
                height: 1px;
                background-color: $color5;
                border: none;
                margin-bottom: .8em;
            }

            & .texto4 {
                display: flex;
                justify-content: center;
                text-decoration: none;

                & button {
                    background-color: $color4;
                    padding: 5px 10px;
                    border-radius: 10px;

                    & .fa-cart-arrow-down {
                        width: 25px;
                        height: 25px;
                    }
    
                    & span {
                        color: $color1;
                        font-size: .7em;
                        padding-top: .2em;
                    }
                }
            }
        }
    }
    
    & footer {
        height: 220px;
        padding: 0px 30px;
        border-bottom: 2px solid $color4;
        box-shadow: 0px 5px 20px $color6;

        @media only screen and (min-width:660px){
            padding: 10px 70px 0px 50px;
        }
        @media only screen and (min-width:960px){
            padding: 10px 100px 0px 50px;
            height: 220px;
        }

        & .formulari {

            & h2 {
            text-align: center;
            color: $color2;
            text-shadow:  0 0 3px $color6;
            }

            & form {
                display: flex;
                flex-direction: column;
                align-items: center;

                & .field {
                    margin-bottom: 10px;

                    & label {
                        display: block;
                        font-size: 14px;
                        color: $color2;
                        text-shadow:  0 0 3px $color6;
                    }

                    & input {
                        color: $color6;
                        display: block;
                        min-width: 250px;
                        line-height: 1.5;
                        font-size: 16px;
                        background: none;
                        border: 3px solid $color3;
                        box-shadow: inset 0 0 5px 2px $color1;
                        border-radius: 4px;
                    }
                }
            
                & .submit{
                    display: block;
                    padding: 6px 30px;
                    font-size: 14px;
                    background-color: $color3;
                    color: $color2;
                    border: 3px solid $color3;
                    box-shadow: inset 0 0 5px 2px $color1;
                    border-radius: 4px;
                }
            } 
        }
    }
}